@import '../../styles/index.scss';

.menu {
    flex-basis: 25%;
    background: $primary-light-color;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease;
    @media (max-width: $desktop) {
        width: 60px;
    }
    &__long {
        height: 100vh;
    }
}