@import "../../styles/index.scss";

.header {
  background: $primary-dark-color;
  display: flex;
  justify-content: space-between;
  height: $header-big;
  align-items: center;
  padding: 0 24px 0 24px;

  @media (max-width: $tablet) {
      height: $header-small;
  }

  transition: 0.5s height ease;
  &__left {
      color: $primary-light-color;
  }
  &__right {
  }

  &__logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

@keyframes App-logo-spin {
    from {
      transform: rotate(-10deg);
    }
    to {
      transform: rotate(10deg);
    }
  }